Source: easylist
Section: user/other
Priority: extra
Maintainer: Willem Liu <willem.liu@gmail.com>
Build-Depends: debhelper (>= 5)
Standards-Version: 3.7.3
Homepage: <insert the upstream URL, if relevant>

Package: EasyList
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: Simple Check list program
 Simple Check list program
XB-Maemo-Icon-26:
 iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAYAAABXAvmHAAAABHNCSVQICAgIfAhkiAAAAAFzUkdC
 AK7OHOkAAAAEZ0FNQQAAsY8L/GEFAAAACXBIWXMAAA7EAAAOxAGVKw4bAAAAGXRFWHRTb2Z0d2Fy
 ZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAACLxJREFUaEPNWntwVNUZ/919ZrN5bBJJoEgepQkIKk8r
 EXDoOGOLlNB2ZCQtnWmr/NPRVviz7XR0hvYP26mdal+OjjPFUWtRqU5FihXstA1FUOQlDYQkBPLa
 zYPd7OPevY9+39lsyGbv7r0LWdozc2dv7vm+c77X+X3fOSeSQQ0WjUkkSbIiy+o3dBWJMy/Cd8eO
 gnntMjisCCcmIhgdHbEiM+2Pn/wdosd+dl286ug5KH2HLHktFei+2IPu7ouWA5kRxE+9AC3Si2Tw
 RMH88RO/Qoweq5ZXgWQyiYHByxgJhRCPx63GyuiXe/ZDHTkNLaogcfalgnh1eQzx//wRyqX3yQCX
 8vLmVWBoaBByQoaiKBgeHipICKX7LzBkFQ4XoPTuh54Ytc0vd70FPTZKTxhK9zs3poCu6+AnFAza
 FkCPh5AgIeAkFnqUK2fJG2ds8ytdb8PQAEMH5N6/5uWT0ih04XwnOjs7SVgViqxAJ+Rxu91wOlkK
 QNM0qKoKX6kPXrcXDvre1NSIxqaFWRPETj+P8X074PSnuowk4K5vRc22f2XRThzZjdiRJ2heDXqU
 iQGpBMJz3HTihUp/lzrh8M+Fw+OD787HULrye6J/KoQ+19yC2tpaElKD2+OBz+eDy+US8MkPv3u9
 XmjUH46E6d2DBfWNptaJ/ns3HN5pXRxGXR2mtGVrfgTPwjYYCgtJDiunXzeRMmrT4/DQj4/0YgMG
 r9B7XQYsZ6yB1Xd9Hs2kiKapyJUe2AtNTU1ovWfdlHemS8bhk+zvTYXPZBMphJ74yd+bKhHY/Ab8
 dz8qlMiVldiLpau2o2rrIUhu0miyZS3ipbffgRUrV4ERaGZT1SSWLVuB5StW5Uxs4cOPQ2Krzch7
 Elk1evwpUwX4Y8UXnkHlpt/Qws8m4W8VX/w5Kr+0B5Jwz7VmikJ+f5mpBzRNx9y583IKoceCSPa9
 D2ma9aebSgtfpkV5ICe/M9BCQW+iAC3okoVfM+UzVWBgYBAOh0OgD0Moe4Pf+dvQ0EBOAeTut6GH
 qd9sVPKInlCg9ORGFfn8GyL0GIH0BD1keUYiNojctc++AiOhYeEBDy3mVavvwuIlS6bifXDQXAEj
 mUD87B5SNDt8eGYOKRYkcW4PtIkrpsIofaQc8Tt9FRROz6F8/Q+IhxCAkCnOypm0LFtx7ROdiKKh
 oQFr192L+voGLF50G1pb16K2rg7j4+MCqbLWx9g5JC8dNg+faStOHQlC6f9HNj/VPurYBZTeuRVV
 7UfpdwfK1v5ELFrvZ9dAHTpGcDyRxTeVB9I9QbJ+IpYgiKzPIuYwuth1ATU1t6CqujqjP3x4J6Id
 v0zBZ57CldHEs2A1qts/zOCXew5QHuiHb+m3s+Y1NAWxY0/BvWADPJ9Zl9GfpUDOALfoGPgp5QtK
 QHaqbnUcmPfDMGE8gf4NNstq1Gx8Q5Whx4Pk8k6ooVMEj78QZHaEZzoHwXi048kbFD3Ffs0DtGh1
 WlwaCcZwqE9cFkLyo0WuwODfBO0LVIYHhdCBYoHeedNiKGH61WwrwMlKcnrgrGwUK5s94SibT6XC
 PMrE9alffioaRPkgeSpyKiuFP9hlhN8jC5IvBH4zWkxmznQ6z/gm1J423iStXeunOUXGZcxP7wfp
 XXybfDL6+RvJ5ihzpBQjJaWSALyNG1MeiJ14FpG/PSZ4pesKqlmJhryDZChH+cE9fzECbW9eCyGl
 +12E/rCRXMZBaj+eiy/6tRlYCSMGeFvWIfCVd0ToZaBQcvgjjO29j+CMYIJcVmhYFFMZzsgcciW3
 b0Ng4ytTU2UEjLt2JaoePARXVaOo4f9fmhCerF+2/okM4TNRaJq0unwVwefmEhIlIFFi+l95Ir2Q
 dUrA1e2voGTRtiyb5k5kpPHYm/cjcf4g1d83XwkhPFUsjtJyivf98MxfaxoQuTGH4DHQ9mf4V3yL
 8kLujUaxwoxD2FXdSLXQ4ZzC5wyhmUKN7/8G4sdfFlu7YsOsQBqCSUdFOeY80ke1VWVeG9muhWIf
 PY3IoV0i2ZhuWGbBFUJ4srzvtjbhfTvNdtoqXbkTFZtegkEnBLzhmO2Wxnj/3d9H5Zdftz28bQ+k
 R4x/+jIiB79Dxx3yrIWTEJ429GVrHkf5hqdtC8+Etj2QHrWkeQucNUtM964FzTyNmL3qX/7NgoW/
 LgW0SB/UgY8zjk2uV/A0H+eZZOg07YPHCh6qYA+owx9zNT27jaRQg5/cHAXin75KAD27iY2hWYvq
 pAR5tsBWsAeU3neLAqOc7fOdGeXSq2AFtKsUP4XfNlnalXNLsvegJd1MgoIUSNClA09UjOKOw0i+
 3FNcBfjWhePfTuMSmE/XGCKnto35GCcPvpKDR+0MP0VTkAeSdLhkVQtxUuIjQa4kAw88Q/cC99AC
 TWVvq/tQ9q5y6b3iKKCGTsKYyHHuyUbmbMrWJkF9S7+K2p0R+JY9ipqH/onqh/4EZ+BWUaTlU0Ii
 7yYu7CuWAnRhJ9M9l8kCFkLR2nYG5qPi/l+Dz/sd7rIpQUpaHkRN+zH4lmwWCuaspWhsIzZYUD6w
 HUJJunGceXaftrp2lay+fDuqv34cpcu+a2pBh78OgS1vUZVJZTnNmj55zlgf4gR7VNxu2m22FDCS
 MSofOsTEaQTiRcoh457Tgjk7PhCXD04S0qqVLGpH3S6DSubNYizhjfTZECsQi0IdzDw3zTemLQV0
 eYRqlVOp0m+yZudQKF//Y7L6h/Dceq+V3Fn9whubX4NrTnMKrXifwQqRYdTRs7bHs6cALV5t8t8N
 NLrvdlXXk+B/R1nrk3mP/ayk8DZvRc32T+ioZIs472GPMhLxlawuh63YRb8tBRLn9wpXS24XApue
 xS2P9JLV19uawIpIcvlQ1bYPNQ93wF23VOzIkv1H6Cx22Io11c9Hi1Yt+HyTMfraBkMZOGpFekP9
 uiobVw88bPTvJvk799oay5YC8TMvGoZOV983qdFlhxE98Vtbs/0XtJgUPlLzc2EAAAAASUVORK5C
 YII=
